<!doctype html>
<html>
  <head>
    <title>Reindeer Lights</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://unpkg.com/angular-media-events@0.5.0/dist/media-events.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
    </style>
  </head>
  <body>
    <div ng-app="myApp" ng-controller="pageCtrl">
		<nav class="navbar navbar-default">
			<div class="navbar-header" style="margin-left: 20px; color: steelblue;">
				<h2>Reindeer Light Control</h2>
			</div>
		</nav>
		<div class="container-fluid">
			<div class="panel panel-default">
				<div class="panel-heading" style='font-family="Open Sans", sans-serif; font-weight: 900;'>
					Input
				</div>
				<div class="panel-body">
					<label>Twitter Screenname:</label>
					<input type="text" ng-model="data.name">
					<button class="btn btn-primary" ng-click="get_labels(data.name)">Create movie analysis</button>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" style='font-family="Open Sans", sans-serif; font-weight: 900;'>
					Movie
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-6">
							<video id="mov" width="320" height="240" controls ng-src="{{data.movie | trustUrl}}" type="video/mp4" ng-pause="internal(1)">
		 					</video>
		 				</div>
		 				<div class="col-sm-6">
		 					<div ng-repeat="label in data.labels track by $index">
		 						{{$index}} : {{label}}
		 					</div>
		 				</div>
 					</div>
				</div>
			</div>
		</div>	
			
	</div>
<style>

</style>
<script>

	var app = angular.module("myApp", []);
	app.filter("trustUrl", ['$sce', function ($sce) {
        return function (recordingUrl) {
            return $sce.trustAsResourceUrl(recordingUrl);
        };
    }]);
	app.controller("pageCtrl", ['$scope', '$interval', function($scope, $interval) {
		$scope.data = {};

		$scope.internal = function(X) {
			console.log(X)
		}

		$scope.get_labels = function(screenname) {
			//$scope.data.movie = "output.mp4"
			console.log("runs")
			//$scope.$apply()
			$.ajax({
				type: "GET",
				url: "/api/getlabels",
				data: {name: screenname},
				dataType: 'json',
				jsonpCallback: "callback",
				success: function(result) {
					if( "error" in result) {
						alert(result["error"])
					} else {
						$scope.data.movie = "output.mp4"
						$scope.data.labels = result
						var video = document.getElementById('mov');
					    video.pause()
						video.load();
						video.play();
						$scope.$apply();
					}
				},
				failure: function(err) {
					console.log("Failed");
				}
			})
		}

	}]);
</script>
  </body>
</html>